@import "./mapas";

$fontTitulo: stayTrueDemo;

$card-width: 17rem;

$borderRadius: 90px;

$bg__gradiante:  linear-gradient(to bottom, map-get($colorPaleta,"titulo") 40% ,rgb(215, 249, 250));

$ofertaColor: rgb(190, 7, 7);

$estampados:  linear-gradient(
    45deg,
    map-get($colorPaleta, "nav"),
    45px,
    transparent 45px
  )
  64px 64px,
linear-gradient(
  45deg,
  map-get($colorPaleta, "nav"),
  45px,
  transparent 45px,
  transparent 91px,
 map-get($colorPaleta, "headerFooter") 91px,
 map-get($colorPaleta, "headerFooter")135px,
  transparent 135px
),
linear-gradient(
  -45deg,
  map-get($colorPaleta, "nav") 23px,
  transparent 23px,
  transparent 68px,
  map-get($colorPaleta, "nav") 68px,
  map-get($colorPaleta, "nav") 113px,
  transparent 113px,
  transparent 158px,
  map-get($colorPaleta, "nav") 158px
);
