@import "../global/variables";
@import "../global/mixin";

// animacion oferta
.oferta {
  background: $estampados;
  background-color: rgb(240, 243, 228);
  background-size: 128px 128px;
  height: 1.4rem;

  p {
  @include animaciones (10s, infinite, 0);
    animation-name: slidein;
    animation-timing-function: ease-in; 
    animation-direction: alternate;
    animation-fill-mode: both;
    color: $oferta-color;
    @include filter;
  }
}

@keyframes slidein {
  from {
    transform: translateX(20%);
    width: 50%;
  }

  to {
    transform: translateX(100%);
    width: 50%;
  }
}

// íconos de como compro
.animate__flip {
  @include animaciones (5s, 2, 3s);
}