.error {
  h2 {
    &:hover {
      color: rgb(218, 96, 96);
    }
  }
  // animación 404
  .animate__rollIn {
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 1s;
  }
}

.parrafo-error {
  color: blue;
  &:hover {
    color: rgb(218, 96, 96);
  }
}

.animate__swing {
  animation-duration: 2;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}