@import "../modulos/mapas";
@import "../modulos/mixin";

main {
  background-color: map-get($colorPaleta, "main");

  .boton {
    background-color: map-get($colorPaleta, "nav");
    &:hover {
      background-color: map-get($colorPaleta, "hover");
    }
  }

  .cardPrincipal {
    @include imagenes(0.9);
    transition: 2s;
  }
  .filtro {
    button {
      &:hover {
        transform: rotate(12deg);
      }
    }
  }
}
