@import "../modulos/variables";
@import "../modulos/mixin";
@import "../modulos/mapas";

@media (min-width: 360px) and (max-width: 705px) {
  @include media("360-705");
  .parrafo-contacto {
    display: none;
  }
  .inputBuscador {
    display: none;
  
    
  }
}

@media (max-width: 767px) {
  .cuerpoHumano {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
@include media("992-1200");
}

@media (min-width: 1201px) and (max-width: 1251px) {
@include media("1201-1251");
}
